# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyDIhiF63QMzyjrxmzTg7WHZr29EX66yqV0"
VITE_FIREBASE_AUTH_DOMAIN="organic-products-store.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="organic-products-store"
VITE_FIREBASE_STORAGE_BUCKET="organic-products-store.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="324064485655"
VITE_FIREBASE_APP_ID="1:324064485655:web:e55c605252126df9b35752"

# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=rzp_live_SSoynBGC7tpqpw
RAZORPAY_KEY_SECRET=7mdx0maAxsIXgXAlF8u5VTJO


#proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard-rules.pro'
